
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>First ASP.NET Core application</title>
</head>
<body>
    <header>
        <h1 title="More will be added soon">This is the first iteration of the application</h1>
    </header>
<table>
    <tr>
        <td>@Html.ActionLink("Узнать рабочих", "Workers","Worker")</td>
        <td>@Html.ActionLink("Посетить магазин Кофе","CoffeMain","CoffeStore")</td>
    </tr>
</table>
</body>
</html>
